click==8.4.1
colorama==0.4.6
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
pluggy==1.6.0
prompt-toolkit==3.0.52
pyfiglet==1.0.4
pygments==2.20.0
pytest==9.0.3
questionary==2.1.1
rich==15.0.0
rich-click==1.9.8
rich-pyfiglet==2.0.1
tabulate==0.10.0
wcwidth==0.7.0
